# Python dependencies to build the documentation
pyboolector
Sphinx>=2.1
sphinx-rtd-theme
cairosvg
# breathe
pyucis
sphinxcontrib-makedomain
sphinxcontrib-spelling
pyenchant
sphinx-issues
sphinx-argparse
jinja2
